// Custom.scss
// Option B: Include parts of Bootstrap

// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "vendor/functions";


// 2. Include any default variable overrides here
$spacer: 1rem;

$blue: #0d6efd;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #d63384;
$red: #dc3545;
$orange: #fd7e14;
$yellow: #ffc107;
$green: #198754;
$teal: #20c997;
$cyan: #0dcaf0;
$verdekd: #407667;
$rossokd: #C72939;
$blukd: #3A426E;

// 3. Include remainder of required Bootstrap stylesheets (including any separate color mode stylesheets)

@import "vendor/variables";
@import "vendor/variables-dark";
// 4. Include any default map overrides here

$spacers: (
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer * 1,
  4: $spacer * 1.5,
  5: $spacer * 3,
  6: $spacer * 4,
  8: $spacer * 6,
  13: $spacer * 11,
);


$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "success": $success,
  "info": $info,
  "warning": $warning,
  "danger": $danger,
  "light": $light,
  "dark": $dark,
  "verdekd": $verdekd,
  "rossokd": $rossokd,
  "blukd": $blukd,
);


// 5. Include remainder of required parts
@import "vendor/maps";
@import "vendor/mixins";
@import "vendor/root";

// 6. Include any other optional stylesheet partials as desired; list below is not inclusive of all available stylesheets
@import "vendor/utilities";
@import "vendor/reboot";
@import "vendor/type";
@import "vendor/images";
@import "vendor/containers";
@import "vendor/grid";
@import "vendor/helpers";
@import "vendor/buttons";
@import "vendor/tables";
@import "vendor/navbar";
@import "vendor/dropdown";
@import "vendor/card";
@import "vendor/carousel";
@import "vendor/transitions";

// 7. Optionally include utilities API last to generate classes based on the Sass map in `_utilities.scss`
@import "vendor/utilities/api";

// 8. Add additional custom code here

// Stile Sito (Tutti)

.background {
  min-height: 80vh;
}

html,
body {
  height: 100%;
  font-family: "Lato", sans-serif;
  display: flex;
  flex-direction: column;
}

body>main,
#configurator {
  flex: 1;
}

.active {
  color: $rossokd;
}

.nav-item a {
  color: black;
  text-decoration: none;
}

.txt-footer {
  text-decoration: none;
  color: white;
}

// Carosello (Jacopo - Pagletta)
#carouselContainer {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.carousel-wrapper {
  overflow: hidden;
  position: relative;
  padding-left: 75px;
}

.carousel-track {
  transition: transform 0.5s ease-in-out;
  display: flex;
  width: 80%;
  /* 3 card */

}

.custom-card {
  transition: transform 0.3s ease, opacity 0.3s ease;
  opacity: 0.5;
  transform: scale(0.9);

  width: 100%;
  flex: 0 0 100%;
  /* Ogni card prende tutta la larghezza visibile */
  padding: 1rem;
}

.custom-card.active {
  opacity: 1;
  transform: scale(1.05);
  z-index: 2;
}
.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.445);
  color: white;
  border: none;
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  border-radius: 50px;
  cursor: pointer;
}

.arrow-left {
  left: 0;
}

.arrow-right {
  right: 0;
}

//Header (Federico)

header {
  background-image: linear-gradient(to bottom, rgba(196, 193, 193, 0.5), rgba(0, 0, 0, 0)),
    url("../img/bg-hero.webp");
  background-size: cover;
  position: relative;
  background-position: 50%;
  height: 80vh;
}

.vh-50 {
  height: 50vh;
}

.card {
  --bs-card-bg: #ffffffbd;
  border: none;
}

// Sezioni Info (Cosmin)

// Jacopo
.infoGeneriche {

  .card {
    background-color: #F4F4F4;
  }
}

.contattaci {

  .colForm {
    form {
      width: 100%;

      button[type="submit"] {
        background: linear-gradient(90deg, #40c9a2, #0f7b61);
        border: none;
      }
    }
  }

  .colInfo {
    background-color: #7A9E9F;
  }
  
}

// Fine Jacopo

.btn-size {
  height: 50px;
  width: 190px;
}

.btn-verdekd{
  background: linear-gradient(90deg, #40c9a2, #0f7b61);
}

.w-card {

  @include media-breakpoint-up(sm) {
    max-width: 500px;
  }

  @include media-breakpoint-up(md) {
    min-width: 550px;
  }

  @include media-breakpoint-up(lg) {
    max-width: 600px;
  }
}

h1 {
  font-weight: bold;
  color: $rossokd !important;
}

.ms-lg-8 {
  @include media-breakpoint-up(lg) {
    margin-left: 11rem !important;
  }

}

h2 {
  color: $rossokd;
}

.desktop {
  display: block;
}

.mobile {
  display: none;
}

@media (max-width: 768px) {
  .desktop {
    display: none;
  }
  .mobile {
    display: block;
  }
}

@include media-breakpoint-up(lg) {
  .imgConf {
    width: 500px;
    height: auto;
  }
}

.step {
  display: none;
}

.step.active {
  display: block;
}


.hidden {
  display: none !important;
}

.gap-3>.card {
  flex: 1;
  min-height: 50px;
}

.short-divider {
  width: 200px;
  margin: 15px auto;
  border: none;
  border-top: 2px solid #407667;
}

.btn-bl {
  text-decoration: underline;
  color: #407667;
  border: none;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#step-2 .card-title {
  margin-bottom: 1rem;
}

.custom-card.active .card {
  transform: scale(1.05);
  transition: all 0.3s ease;

}

.nav-item a {
  position: relative;
  overflow: hidden;
  height: 24px;
  /* altezza del testo */
  text-decoration: none;
  font-weight: 500;
  display: inline-block;
}

.roll {
  display: block;
  transform: translateY(0);
  transition: transform 0.3s ease;
}

/* Al passaggio del mouse: fa salire il testo attuale */
.nav-item a:hover .roll {
  animation: slide-up-reveal 0.5s forwards;
}

/* Animazione: sale e rientra da sotto */
@keyframes slide-up-reveal {
  0% {
    transform: translateY(0);
  }

  49% {
    transform: translateY(-100%);
  }

  50% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(0);
  }
}

.w-nav {
  margin: 0 auto;
  max-width: 300px;

  @include media-breakpoint-up(md) {
    min-width: 400px;
  }

  @include media-breakpoint-up(lg) {
    max-width: 900px;
  }
}

.mt-xs-4 {
  margin-top: 1.5rem;

  @include media-breakpoint-up(lg) {
    margin-top: 0;
  }
}

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}